# Extracci贸n

In [24]:
import pandas as pd

# URL de los datos en formato JSON
url = "https://raw.githubusercontent.com/ingridcristh/challenge2-data-science-LATAM/main/TelecomX_Data.json"

# Cargar los datos en un DataFrame
datos = pd.read_json(url)

# Mostrar las primeras filas del DataFrame para verificar la carga
datos.head()

,customerID,Churn,customer,phone,internet,account
0,0002-ORFBO,No,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'One year', 'PaperlessBilling': '..."
1,0003-MKNFE,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
2,0004-TLHLJ,Yes,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
3,0011-IGKFF,Yes,"{'gender': 'Male', 'SeniorCitizen': 1, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
4,0013-EXCHZ,Yes,"{'gender': 'Female', 'SeniorCitizen': 1, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."

# Transformaci贸n

### Conociendo el Conjunto de Datos

Ahora que los datos han sido extra铆dos y cargados en un DataFrame, el siguiente paso es familiarizarnos con su estructura. Esto implica entender qu茅 informaci贸n contiene cada columna, los tipos de datos presentes y la forma general del dataset. Esta exploraci贸n inicial es crucial para planificar los pasos de limpieza y transformaci贸n.

#### Exploraci贸n de Columnas y Tipos de Datos

Vamos a utilizar el m茅todo `.info()` de Pandas para obtener un resumen t茅cnico de nuestro DataFrame. `.info()` nos dar谩 una visi贸n general de las columnas, la cantidad de valores no nulos y el uso de memoria.

In [25]:
datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   customerID  7267 non-null   object
 1   Churn       7267 non-null   object
 2   customer    7267 non-null   object
 3   phone       7267 non-null   object
 4   internet    7267 non-null   object
 5   account     7267 non-null   object
dtypes: object(6)
memory usage: 340.8+ KB

#### Primeras Observaciones

De la salida anterior, notamos algo muy importante: las columnas `customer`, `phone`, `internet`, y `account` son de tipo `object`. Al observar las primeras filas con `.head()`, vimos que contienen datos anidados, similares a un diccionario o JSON. 

Esto significa que una parte crucial de la fase de **Transformaci贸n** ser谩 "desanidar" o "normalizar" estas columnas para que cada pieza de informaci贸n (como el g茅nero del cliente, si tiene servicio de tel茅fono, el tipo de contrato, etc.) se convierta en su propia columna en el DataFrame. La columna `Churn` parece ser nuestro objetivo principal para el an谩lisis, indicando si un cliente ha cancelado el servicio o no.

#### Contenido del Diccionario de Datos

Para facilitar la consulta, a continuaci贸n se muestra el contenido del diccionario de datos:

```
- `customerID`: n煤mero de identificaci贸n 煤nico de cada cliente
- `Churn`: si el cliente dej贸 o no la empresa
- `gender`: g茅nero (masculino y femenino)
- `SeniorCitizen`: informaci贸n sobre si un cliente tiene o no una edad igual o mayor a 65 a帽os
- `Partner`: si el cliente tiene o no una pareja
- `Dependents`: si el cliente tiene o no dependientes
- `tenure`: meses de contrato del cliente
- `PhoneService`: suscripci贸n al servicio telef贸nico
- `MultipleLines`: suscripci贸n a m谩s de una l铆nea telef贸nica
- `InternetService`: suscripci贸n a un proveedor de internet
- `OnlineSecurity`: suscripci贸n adicional de seguridad en l铆nea
- `OnlineBackup`: suscripci贸n adicional de respaldo en l铆nea
- `DeviceProtection`: suscripci贸n adicional de protecci贸n del dispositivo
- `TechSupport`: suscripci贸n adicional de soporte t茅cnico, menor tiempo de espera
- `StreamingTV`: suscripci贸n de televisi贸n por cable
- `StreamingMovies`: suscripci贸n de streaming de pel铆culas
- `Contract`: tipo de contrato
- `PaperlessBilling`: si el cliente prefiere recibir la factura en l铆nea
- `PaymentMethod`: forma de pago
- `Charges.Monthly`: total de todos los servicios del cliente por mes
- `Charges.Total`: total gastado por el cliente
```

#### Inspecci贸n de las Columnas Anidadas

Como se observ贸, cuatro columnas (`customer`, `phone`, `internet`, `account`) contienen datos anidados. Antes de transformarlos, es crucial inspeccionar su estructura para entender los campos que contienen. Analizaremos el primer registro de cada una como muestra.

In [26]:
datos["customer"][0]

{'gender': 'Female',
 'SeniorCitizen': 0,
 'Partner': 'Yes',
 'Dependents': 'Yes',
 'tenure': 9}

In [27]:
datos["phone"][0]

{'PhoneService': 'Yes', 'MultipleLines': 'No'}

In [28]:
datos["internet"][0]

{'InternetService': 'DSL',
 'OnlineSecurity': 'No',
 'OnlineBackup': 'Yes',
 'DeviceProtection': 'No',
 'TechSupport': 'Yes',
 'StreamingTV': 'Yes',
 'StreamingMovies': 'No'}

In [29]:
datos["account"][0]

{'Contract': 'One year',
 'PaperlessBilling': 'Yes',
 'PaymentMethod': 'Mailed check',
 'Charges': {'Monthly': 65.6, 'Total': '593.3'}}

#### Conclusiones de la Inspecci贸n

Esta inspecci贸n confirma que estas columnas son efectivamente diccionarios que deber谩n ser expandidos. Las claves de estos diccionarios (`gender`, `SeniorCitizen`, `Contract`, `PaymentMethod`, etc.) se convertir谩n en las nuevas columnas de nuestro DataFrame.

Todas estas variables son candidatas potenciales para analizar la evasi贸n de clientes (`Churn`). En la fase de **Transformaci贸n**, nuestro primer paso ser谩 normalizar estos datos para poder utilizarlos en el an谩lisis.

### 1. Normalizaci贸n de Datos Anidados

Como primer paso en la transformaci贸n, vamos a "aplanar" o "normalizar" las columnas que contienen datos anidados (`customer`, `phone`, `internet`, `account`). Usaremos `pd.json_normalize` para expandir estas columnas y luego las uniremos en un 煤nico DataFrame limpio. Esto es esencial para poder analizar cada caracter铆stica de forma individual.

In [30]:
# Normalizar las columnas con datos anidados
customer_df = pd.json_normalize(datos['customer'])
phone_df = pd.json_normalize(datos['phone'])
internet_df = pd.json_normalize(datos['internet'])

# json_normalize aplana autom谩ticamente el diccionario 'Charges'
account_df = pd.json_normalize(datos['account'])

# Unimos todos los dataframes normalizados
datos_transformados = pd.concat([
    datos[['customerID', 'Churn']],
    customer_df,
    phone_df,
    internet_df,
    account_df
], axis=1)

print("DataFrame transformado con 茅xito. Nuevas dimensiones:", datos_transformados.shape)
datos_transformados.head()

DataFrame transformado con 茅xito. Nuevas dimensiones: (7267, 21)

,customerID,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,...,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total
0,0002-ORFBO,No,Female,0,Yes,Yes,9,Yes,No,DSL,...,Yes,No,Yes,Yes,No,One year,Yes,Mailed check,65.6,593.3
1,0003-MKNFE,No,Male,0,No,No,9,Yes,Yes,DSL,...,No,No,No,No,Yes,Month-to-month,No,Mailed check,59.9,542.4
2,0004-TLHLJ,Yes,Male,0,No,No,4,Yes,No,Fiber optic,...,No,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.9,280.85
3,0011-IGKFF,Yes,Male,1,Yes,No,13,Yes,No,Fiber optic,...,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.0,1237.85
4,0013-EXCHZ,Yes,Female,1,Yes,No,3,Yes,No,Fiber optic,...,No,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.9,267.4

In [31]:
datos_transformados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7267 non-null   object
 1   Churn             7267 non-null   object
 2   gender            7267 non-null   object
 3   SeniorCitizen     7267 non-null   int64
 4   Partner           7267 non-null   object
 5   Dependents        7267 non-null   object
 6   tenure            7267 non-null   int64
 7   PhoneService      7267 non-null   object
 8   MultipleLines     7267 non-null   object
 9   InternetService   7267 non-null   object
 10  OnlineSecurity    7267 non-null   object
 11  OnlineBackup      7267 non-null   object
 12  DeviceProtection  7267 non-null   object
 13  TechSupport       7267 non-null   object
 14  StreamingTV       7267 non-null   object
 15  StreamingMovies   7267 non-null   object
 16  Contract          7267 non-null   object
 17  PaperlessBilling  7267 non-null   object
 18  PaymentMethod     7267 non-null   object
 19  Charges.Monthly   7267 non-null   float64
 20  Charges.Total     7267 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.2+ MB

### 2. Comprobaci贸n de Incoherencias

Ahora, con el DataFrame aplanado, podemos buscar eficazmente las inconsistencias, como valores nulos, duplicados y errores de formato.

#### B煤squeda de Valores Nulos y Errores de Formato

Un problema com煤n es que los valores faltantes no siempre est谩n como `NaN`. A veces son cadenas vac铆as o espacios en blanco. La columna `Charges.Total` es un candidato para este tipo de problema, ya que es un `object` pero deber铆a ser num茅rica. Vamos a investigar los registros donde `Charges.Total` parece estar vac铆o.

In [32]:
# Buscamos registros donde 'Charges.Total' sea un espacio en blanco
datos_transformados[datos_transformados['Charges.Total'] == ' ' ]

,customerID,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,...,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total
975,1371-DWPAZ,No,Female,0,Yes,Yes,0,No,No phone service,DSL,...,Yes,Yes,Yes,Yes,No,Two year,No,Credit card (automatic),56.05,
1775,2520-SGTTA,No,Female,0,Yes,Yes,0,Yes,No,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,20.00,
1955,2775-SEFEE,No,Male,0,No,Yes,0,Yes,Yes,DSL,...,Yes,No,Yes,No,No,Two year,Yes,Bank transfer (automatic),61.90,
2075,2923-ARZLG,No,Male,0,Yes,Yes,0,Yes,No,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,One year,Yes,Mailed check,19.70,
2232,3115-CZMZD,No,Male,0,No,Yes,0,Yes,No,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,20.25,
2308,3213-VVOLG,No,Male,0,Yes,Yes,0,Yes,Yes,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,25.35,
2930,4075-WKNIU,No,Female,0,Yes,Yes,0,Yes,Yes,DSL,...,Yes,Yes,Yes,Yes,No,Two year,No,Mailed check,73.35,
3134,4367-NUYAO,No,Male,0,Yes,Yes,0,Yes,Yes,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,25.75,
3203,4472-LVYGI,No,Female,0,Yes,Yes,0,No,No phone service,DSL,...,No,Yes,Yes,Yes,No,Two year,Yes,Bank transfer (automatic),52.55,
4169,5709-LVOEQ,No,Female,0,Yes,Yes,0,Yes,No,DSL,...,Yes,Yes,No,Yes,Yes,Two year,No,Mailed check,80.85,
5599,7644-OMVMY,No,Male,0,Yes,Yes,0,Yes,No,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,19.85,

#### B煤squeda de Duplicados

Verificaremos si existen filas completamente duplicadas en nuestro conjunto de datos.

In [33]:
print(f"N煤mero de filas duplicadas: {datos_transformados.duplicated().sum()}")

N煤mero de filas duplicadas: 0

#### Verificaci贸n de Valores nicos en Columnas Categ贸ricas

Usaremos el m茅todo `.unique()` para explorar los valores de las columnas categ贸ricas clave y asegurarnos de que no haya valores inesperados (por ejemplo, 'S铆' y 'Si' para la misma categor铆a).

In [34]:
print('Valores 煤nicos en Churn:', datos_transformados['Churn'].unique())
print('Valores 煤nicos en gender:', datos_transformados['gender'].unique())
print('Valores 煤nicos en Contract:', datos_transformados['Contract'].unique())
print('Valores 煤nicos en PaymentMethod:', datos_transformados['PaymentMethod'].unique())
print('Valores 煤nicos en InternetService:', datos_transformados['InternetService'].unique())

Valores 煤nicos en Churn: ['No' 'Yes' '']
Valores 煤nicos en gender: ['Female' 'Male']
Valores 煤nicos en Contract: ['One year' 'Month-to-month' 'Two year']
Valores 煤nicos en PaymentMethod: ['Mailed check' 'Electronic check' 'Credit card (automatic)'
 'Bank transfer (automatic)']
Valores 煤nicos en InternetService: ['DSL' 'Fiber optic' 'No']

#### Resumen de Inconsistencias Encontradas

1.  **Datos Anidados**: Resuelto mediante la normalizaci贸n del DataFrame.
2.  **Valores Faltantes/Incorrectos**: Se identificaron 11 filas donde `Charges.Total` es una cadena de espacio en blanco (' '). Esto impide convertir la columna a un tipo num茅rico y debe ser corregido.
3.  **Duplicados**: No se encontraron filas duplicadas.
4.  **Valores Categ贸ricos**: Las columnas categ贸ricas principales (`Churn`, `gender`, `Contract`, etc.) parecen tener valores consistentes y no muestran errores obvios de formato o duplicaci贸n sem谩ntica.

El siguiente paso ser谩 manejar las inconsistencias encontradas en la columna `Charges.Total`.

# Carga y an谩lisis

#Informe final